.content_top{
    width: 100%;
    padding: 20px;
    background: #5B965E;
    border-radius: 10px;
    border: 2px solid #000000;
    margin-top: 20px;
}

title {
    font-family: 'Fredoka';
    font-size: 2rem;
}

.title {
    font-family: 'Fredoka';
    font-size: 2rem;
}

.home_title{
    font-size: 18px;
    font-family: "Poppins";
}
.home_list{
    margin-top: 20px;
}
.home_list_con{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-top: 5px;
}
.home_list_con>div{
    background: #5B965E;
    border: 2px solid #315133;
    border-radius: 10px;
    padding: 20px;
}
.home_list_con img{
    width: 100%;
}
html{
    font-family: "Poppins";
}
.StarIcon{
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
.StarIcon img{
    margin-right: 10px;
}
.line{
    width: 100%;
    height: 8px;
    background: white;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.line:before{
    content: '';
    background: #FF9999;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.star_list{
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
}
.star_list>span{
    font-size: 18px;
}
.star_list img{
    margin: 0 10px;
}
.rewards_text{
    margin-top: 80px;
    line-height: 150%;
}
.btn{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 50px;
}
.xy_con{
    max-width: 960px;
    margin: 40px auto;
}
@media screen and (max-width: 960px){
    .xy_con{
        width: 80%;
    }
}
@media screen and (max-width: 768px){
    .xy_con{
        width: 100%;
    }
}
