*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    src: url("../font/PermanentMarker-Regular.ttf");
    font-family: 'PermanentMarker-Regular';
}
@font-face {
    src: url("../font/Piazzolla_24pt-Bold.ttf");
    font-family: 'Piazzolla_24pt-Bold';
}
@font-face {
    src: url("../font/Fredoka-VariableFont_wdth,wght.ttf");
    font-family: 'Fredoka';
}
@font-face{
    src: url("../font/Poppins-Bold.ttf");
    font-family: 'Price-Bold';
}
@font-face{
    src: url("../font/Poppins-SemiBold.ttf");
    font-family: 'Button-Text';
}
@font-face{
    src: url("../font/Poppins-Regular.ttf");
    font-family: 'Mobile-Standard';
}

img{
    display: block;
}
header{
    background: #FF9999;
    display: flex;
    justify-content: space-between;
    font-family: 'PermanentMarker-Regular';
    color: #F8DD80;
    -webkit-text-stroke: 1px black; /* Safari */
    /* text-stroke: 1px black; */
    padding: 20px;
    font-size: 26px;
}
.content{
    width: 100%;
    overflow-y: auto;
    background: #FFF3DB;
}
menu{
    background: #FF9999;
    display: flex;
    text-align: center;
    font-family: "Poppins";
}
menu img{
    margin: auto;
}
menu>div{
    padding: 10px;
    border-radius: 5px;
}
.active{
    background: #482C2C;
    color: white;
}
a{
    text-decoration: none;
}
menu>div>div{
    margin-top: 5px;
}
.sm_title{
    font-size: 18px;
    margin-top: 20px;
}
.content{
    height: calc(100vh - 78px);
    padding: 15px 15px 100px 15px;
}
menu{
    justify-content: space-between;
    padding: 10px;
    width: 960px;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    border-radius: 10px;
}

.active_order{
    border-bottom: 1px solid black;
}

@media screen and (max-width: 768px){
    header{
        padding: 20px;
        font-size: 20px;
    }
    .content{
        height: calc(100vh - 190px);
        padding: 15px;
    }
    menu{
        position: relative !important;
        justify-content: space-between;
        padding: 10px;
        width: 100% !important;
        border-radius: 0 !important;
    }
    .title{
        font-size: 26px;
        font-weight: bold;
        font-family: 'Fredoka';
    }
}
@media screen and (max-width: 960px){
    header{
        padding: 30px;
        font-size: 26px;
    }
    menu{
        position: relative !important;
        justify-content: space-between;
        padding: 10px;
        width: 100% !important;
        border-radius: 0 !important;
    }
    .content{
        height: calc(100vh - 190px);
        padding: 15px;
    }
}
