.map_title{
    font-size: 26px;
    font-weight: bold;
    font-family: 'Fredoka';
}
.map_sm_title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
html{
    font-family: "Poppins";
}
.content>p{
    margin-top: 5px;
}
.map_contact{
    margin-top: 20px;
}
.map_contact>span{
    font-size: 20px;
    font-weight: bold;
}
.map{
    margin-top: 10px;
    position: relative;
}
.map_btn{
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%);
}
.xy_con{
    max-width: 960px;
    margin: 40px auto;
}
@media screen and (max-width: 960px){
    .xy_con{
        width: 80%;
        margin: 40px auto;
    }
}
