html {
    font-family: "Poppins";
}

title {
    font-family: 'Fredoka';
    font-size: 2rem;
}

.title {
    font-family: 'Fredoka';
    font-size: 2rem;
}

.order1_title{
    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Fredoka';
}

.order_list a{
    color: black;
    font-size: 1rem;
    font-family: 'Mobile-Standard';
}

.order_list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.order_shop_list {
    margin-top: 10px;
}

.content {
    overflow-x: hidden;
}

.order_shop_list > div {
    width: 100%;
    margin-top: 10px;
}

.order_shop_list img {
    width: 100%;
}

.center_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.order_con {
    width: 100%;
    padding: 40px 20px;
    background: #E1D3B7;
    margin-top: 20px;
    border-radius: 10px;
}

.order_con_title {
    text-align: center;
    font-size: 1rem;
    font-family: 'Button-Text';
}

.order_add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

/* .order_add > div {
    width: 50%;
} */

.order_add_right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 10px;
    flex-direction: column;
    font-family: "Mobile-Standard";
}

.add_icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5B965E;
    color: white;
    border: 1px solid black;
    border-radius: 100%;
    margin-right: 10px;
}

.order_add_right > div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.order_img {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.order_img img {
    width: 100%;
}

.order_btn_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.order_btn {
    width: 80px;
    padding: 15px 0;
    text-align: center;
    border: 1px solid black;
    font-size: 1rem;
    border-radius: 50px;
    background: #FFF3DB;
    font-weight: bold;
    font-family: "Button-Text";
}

.order_line {
    min-width: 30%;
    /* height: auto; */
}

.order_line img {
    width: 100%;
}

.xy_con {
    max-width: 960px;
    margin: 40px auto;
}
button{
    cursor: pointer;
}
#continueButton{
    cursor: pointer;
}



.custom_radio {
    display: none;
}

.custom_radio + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
}

.custom_radio + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #fff;
}

.custom_radio:checked + label:before {
    background-color: #FF9999;
    border: 2px solid black;
}

  
@media screen and (max-width: 960px) {
    .xy_con {
        width: 80%;
    }
    .order_img {
        display: flex;
         justify-content: center;
         align-items: center;
         width: 60%;
     }
}

@media screen and (max-width: 768px) {
    .xy_con{
        width: 100%;
    }
    .order_list a {
        color: black;
        font-size: 18px;
    }
    .order_img {
        display: flex;
         justify-content: center;
         align-items: center;
         width: 50%;
     }
}
